<section class="section recent-post" id="recent" aria-labelledby="recent-label">
  <div class="container">
    <div class="post-main">
      <h2 class="headline headline-2 section-title">
        <span class="span">{{ section.title }}</span>
      </h2>
      <p class="section-text">{{ section.subtitle }}</p>
      <ul class="grid-list">
        {% for artigo in collections.artigos | langFilter(page.lang) | reverse |
        limitTo(section.limit) %}
        <li>
          <div class="recent-post-card">
            <figure
              class="card-banner img-holder"
              style="--width: 271; --height: 258"
            >
              <img
                src="{{ artigo.data.featured }}"
                width="271"
                height="258"
                alt="{{ artigo.data.title }}"
                loading="lazy"
                class="img-cover"
              />
            </figure>
            <div class="card-content">
              <a href="artigo.url" class="card-badge"
                >{{artigo.data.category}}</a
              >
              <h3 class="headline headline-3 card-title">
                <a href="{{artigo.url}}" class="link hover-2"
                  >{{ artigo.data.title }}</a
                >
              </h3>
              <p class="card-text">{{artigo.data.description}}</p>
              <div class="card-wrapper">
                <div class="card-tag">
                  <a href="#" class="span hover-2"># Travel</a>
                  <a href="#" class="span hover-2"># Lifestyle</a>
                </div>
                <div class="wrapper">
                  <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                  <span class="span">3 mins read</span>
                </div>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      <nav aria-label="pagination" class="pagination">
        <a href="#" class="pagination-btn" aria-label="previous page">
          <ion-icon name="arrow-back" aria-hidden="true"></ion-icon>
        </a>
        <a href="#" class="pagination-btn">1</a>
        <a href="#" class="pagination-btn">2</a>
        <a href="#" class="pagination-btn">3</a>
        <a href="#" class="pagination-btn" aria-label="more page"> ... </a>
        <a href="#" class="pagination-btn" aria-label="next page">
          <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
        </a>
      </nav>
    </div>
    <div class="post-aside grid-list">
      <div class="card aside-card">
        <h3 class="headline headline-2 aside-title">
          <span class="span">Popular Posts</span>
        </h3>
        <ul class="popular-list">
          <li>
            <div class="popular-card">
              <figure
                class="card-banner img-holder"
                style="--width: 64; --height: 64"
              >
                <img
                  src="./assets/images/popular-post-1.jpg"
                  width="64"
                  height="64"
                  loading="lazy"
                  alt="Creating is a privilege but it’s also a gift"
                  class="img-cover"
                />
              </figure>
              <div class="card-content">
                <h4 class="headline headline-4 card-title">
                  <a href="#" class="link hover-2"
                    >Creating is a privilege but it’s also a gift</a
                  >
                </h4>
                <div class="wrapper">
                  <p class="card-subtitle">15 mins read</p>
                  <time class="publish-date" datetime="2022-84-15"
                    >15 April 2022</time
                  >
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="popular-card">
              <figure
                class="card-banner img-holder"
                style="--width: 64; --height: 64"
              >
                <img
                  src="./assets/images/popular-post-2.jpg"
                  width="64"
                  height="64"
                  loading="lazy"
                  alt="Being unique is better than being perfect"
                  class="img-cover"
                />
              </figure>
              <div class="card-content">
                <h4 class="headline headline-4 card-title">
                  <a href="#" class="link hover-2"
                    >Being unique is better than being perfect</a
                  >
                </h4>
                <div class="wrapper">
                  <p class="card-subtitle">15 mins read</p>
                  <time class="publish-date" datetime="2022-84-15"
                    >15 April 2022</time
                  >
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="popular-card">
              <figure
                class="card-banner img-holder"
                style="--width: 64; --height: 64"
              >
                <img
                  src="./assets/images/popular-post-3.jpg"
                  width="64"
                  height="64"
                  loading="lazy"
                  alt="Every day, in every city and town across the country"
                  class="img-cover"
                />
              </figure>
              <div class="card-content">
                <h4 class="headline headline-4 card-title">
                  <a href="#" class="link hover-2"
                    >Every day, in every city and town across the country</a
                  >
                </h4>
                <div class="wrapper">
                  <p class="card-subtitle">15 mins read</p>
                  <time class="publish-date" datetime="2022-84-15"
                    >15 April 2022</time
                  >
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="popular-card">
              <figure
                class="card-banner img-holder"
                style="--width: 64; --height: 64"
              >
                <img
                  src="./assets/images/popular-post-4.jpg"
                  width="64"
                  height="64"
                  loading="lazy"
                  alt="Your voice, your mind, your story, your vision"
                  class="img-cover"
                />
              </figure>
              <div class="card-content">
                <h4 class="headline headline-4 card-title">
                  <a href="#" class="link hover-2"
                    >Your voice, your mind, your story, your vision</a
                  >
                </h4>
                <div class="wrapper">
                  <p class="card-subtitle">15 mins read</p>
                  <time class="publish-date" datetime="2022-84-15"
                    >15 April 2022</time
                  >
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="card aside-card">
        <h3 class="headline headline-2 aside-title">
          <span class="span">Last Comment</span>
        </h3>
        <ul class="comment-list">
          <li>
            <div class="comment-card">
              <blockquote class="card-text">
                “ Gosh jaguar ostrich quail one excited dear hello and bound and
                the and bland moral misheard roadrunner “
              </blockquote>
              <div class="profile-card">
                <figure
                  class="profile-banner img-holder"
                  style="--width: 32; --height: 32"
                >
                  <img
                    src="./assets/images/author-6.png"
                    width="32"
                    height="32"
                    alt="Jane Cooper"
                    class="img-cover"
                  />
                </figure>
                <div>
                  <p class="card-title">Jane Cooper</p>
                  <time class="card-date" datetime="2022-04-15"
                    >15 April 2022</time
                  >
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="comment-card">
              <blockquote class="card-text">
                “ Gosh jaguar ostrich quail one excited dear hello and bound and
                the and bland moral misheard roadrunner “
              </blockquote>
              <div class="profile-card">
                <figure
                  class="profile-banner img-holder"
                  style="--width: 32; --height: 32"
                >
                  <img
                    src="./assets/images/author-7.png"
                    width="32"
                    height="32"
                    alt="Katen Doe"
                    class="img-cover"
                  />
                </figure>
                <div>
                  <p class="card-title">Katen Doe</p>
                  <time class="card-date" datetime="2022-04-15"
                    >15 April 2022</time
                  >
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="comment-card">
              <blockquote class="card-text">
                “ Gosh jaguar ostrich quail one excited dear hello and bound and
                the and bland moral misheard roadrunner “
              </blockquote>
              <div class="profile-card">
                <figure
                  class="profile-banner img-holder"
                  style="--width: 32; --height: 32"
                >
                  <img
                    src="./assets/images/author-8.png"
                    width="32"
                    height="32"
                    alt="Barbara Cartland"
                    class="img-cover"
                  />
                </figure>
                <div>
                  <p class="card-title">Barbara Cartland</p>
                  <time class="card-date" datetime="2022-04-15"
                    >15 April 2022</time
                  >
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="card aside-card insta-card">
        <a href="#" class="logo">
          <img
            src="./assets/images/logo.svg"
            width="119"
            height="37"
            loading="lazy"
            alt="Wren logo"
          />
        </a>
        <p class="card-text">Follow us on instagram</p>
        <ul class="insta-list">
          <li>
            <a
              href="#"
              class="insta-post img-holder"
              style="--width: 276px; --height: 277px"
            >
              <img
                src="./assets/images/insta-post-1.png"
                width="276"
                height="277"
                loading="lazy"
                alt="insta post"
                class="img-cover"
              />
            </a>
          </li>
          <li>
            <a
              href="#"
              class="insta-post img-holder"
              style="--width: 276px; --height: 277px"
            >
              <img
                src="./assets/images/insta-post-2.png"
                width="276"
                height="277"
                loading="lazy"
                alt="insta post"
                class="img-cover"
              />
            </a>
          </li>
          <li>
            <a
              href="#"
              class="insta-post img-holder"
              style="--width: 276px; --height: 277px"
            >
              <img
                src="./assets/images/insta-post-3.png"
                width="276"
                height="277"
                loading="lazy"
                alt="insta post"
                class="img-cover"
              />
            </a>
          </li>
          <li>
            <a
              href="#"
              class="insta-post img-holder"
              style="--width: 276px; --height: 277px"
            >
              <img
                src="./assets/images/insta-post-4.png"
                width="276"
                height="277"
                loading="lazy"
                alt="insta post"
                class="img-cover"
              />
            </a>
          </li>
          <li>
            <a
              href="#"
              class="insta-post img-holder"
              style="--width: 276px; --height: 277px"
            >
              <img
                src="./assets/images/insta-post-5.png"
                width="276"
                height="277"
                loading="lazy"
                alt="insta post"
                class="img-cover"
              />
            </a>
          </li>
          <li>
            <a
              href="#"
              class="insta-post img-holder"
              style="--width: 276px; --height: 277px"
            >
              <img
                src="./assets/images/insta-post-6.png"
                width="276"
                height="277"
                loading="lazy"
                alt="insta post"
                class="img-cover"
              />
            </a>
          </li>
          <li>
            <a
              href="#"
              class="insta-post img-holder"
              style="--width: 276px; --height: 277px"
            >
              <img
                src="./assets/images/insta-post-7.png"
                width="276"
                height="277"
                loading="lazy"
                alt="insta post"
                class="img-cover"
              />
            </a>
          </li>
          <li>
            <a
              href="#"
              class="insta-post img-holder"
              style="--width: 276px; --height: 277px"
            >
              <img
                src="./assets/images/insta-post-8.png"
                width="276"
                height="277"
                loading="lazy"
                alt="insta post"
                class="img-cover"
              />
            </a>
          </li>
          <li>
            <a
              href="#"
              class="insta-post img-holder"
              style="--width: 276px; --height: 277px"
            >
              <img
                src="./assets/images/insta-post-9.png"
                width="276"
                height="277"
                loading="lazy"
                alt="insta post"
                class="img-cover"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
