<section class="section feature" aria-label="feature" id="featured">
  <div class="container">
    <h2 class="headline headline-2 section-title">
      <span class="span">{{ section.title }}</span>
    </h2>
    <p class="section-text">{{ section.subtitle }}</p>
    <ul class="feature-list">
      <li>
        <div class="card feature-card">
          <figure
            class="card-banner img-holder"
            style="--width: 1602; --height: 903"
          >
            <img
              src="./assets/images/featured-1.png"
              width="1602"
              height="903"
              loading="lazy"
              alt="Self-observation is the first step of inner unfolding"
              class="img-cover"
            />
          </figure>
          <div class="card-content">
            <div class="card-wrapper">
              <div class="card-tag">
                <a href="#" class="span hover-2">#Travel</a>
                <a href="#" class="span hover-2">#Lifestyle</a>
              </div>
              <div class="wrapper">
                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                <span class="span">3 mins read</span>
              </div>
            </div>
            <h3 class="headline headline-3">
              <a href="#" class="card-title hover-2"
                >Self-observation is the first step of inner unfolding</a
              >
            </h3>
            <div class="card-wrapper">
              <div class="profile-card">
                <img
                  src="./assets/images/author-1.png"
                  width="48"
                  height="48"
                  loading="lazy"
                  alt="Joseph"
                  class="profile-banner"
                />
                <div>
                  <p class="card-title">Joseph</p>
                  <p class="card-subtitle">25 Nov 2022</p>
                </div>
              </div>
              <a href="#" class="card-btn">Read more</a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="card feature-card">
          <figure
            class="card-banner img-holder"
            style="--width: 1602; --height: 903"
          >
            <img
              src="./assets/images/featured-2.png"
              width="1602"
              height="903"
              loading="lazy"
              alt="Self-observation is the first step of inner unfolding"
              class="img-cover"
            />
          </figure>
          <div class="card-content">
            <div class="card-wrapper">
              <div class="card-tag">
                <a href="#" class="span hover-2">#Design</a>
                <a href="#" class="span hover-2">#Movie</a>
              </div>
              <div class="wrapper">
                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                <span class="span">6 mins read</span>
              </div>
            </div>
            <h3 class="headline headline-3">
              <a href="#" class="card-title hover-2"
                >Self-observation is the first step of inner unfolding</a
              >
            </h3>
            <div class="card-wrapper">
              <div class="profile-card">
                <img
                  src="./assets/images/author-2.png"
                  width="48"
                  height="48"
                  loading="lazy"
                  alt="Joseph"
                  class="profile-banner"
                />
                <div>
                  <p class="card-title">Joseph</p>
                  <p class="card-subtitle">25 Nov 2022</p>
                </div>
              </div>
              <a href="#" class="card-btn">Read more</a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="card feature-card">
          <figure
            class="card-banner img-holder"
            style="--width: 1602; --height: 903"
          >
            <img
              src="./assets/images/featured-3.png"
              width="1602"
              height="903"
              loading="lazy"
              alt="Self-observation is the first step of inner unfolding"
              class="img-cover"
            />
          </figure>
          <div class="card-content">
            <div class="card-wrapper">
              <div class="card-tag">
                <a href="#" class="span hover-2">#Design</a>
                <a href="#" class="span hover-2">#Movie</a>
              </div>
              <div class="wrapper">
                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                <span class="span">6 mins read</span>
              </div>
            </div>
            <h3 class="headline headline-3">
              <a href="#" class="card-title hover-2"
                >Self-observation is the first step of inner unfolding</a
              >
            </h3>
            <div class="card-wrapper">
              <div class="profile-card">
                <img
                  src="./assets/images/author-3.png"
                  width="48"
                  height="48"
                  loading="lazy"
                  alt="Joseph"
                  class="profile-banner"
                />
                <div>
                  <p class="card-title">Joseph</p>
                  <p class="card-subtitle">25 Nov 2022</p>
                </div>
              </div>
              <a href="#" class="card-btn">Read more</a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="card feature-card">
          <figure
            class="card-banner img-holder"
            style="--width: 1602; --height: 903"
          >
            <img
              src="./assets/images/featured-4.png"
              width="1602"
              height="903"
              loading="lazy"
              alt="Self-observation is the first step of inner unfolding"
              class="img-cover"
            />
          </figure>
          <div class="card-content">
            <div class="card-wrapper">
              <div class="card-tag">
                <a href="#" class="span hover-2">#Design</a>
                <a href="#" class="span hover-2">#Movie</a>
              </div>
              <div class="wrapper">
                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                <span class="span">3 mins read</span>
              </div>
            </div>
            <h3 class="headline headline-3">
              <a href="#" class="card-title hover-2"
                >Self-observation is the first step of inner unfolding</a
              >
            </h3>
            <div class="card-wrapper">
              <div class="profile-card">
                <img
                  src="./assets/images/author-4.png"
                  width="48"
                  height="48"
                  loading="lazy"
                  alt="Joseph"
                  class="profile-banner"
                />
                <div>
                  <p class="card-title">Joseph</p>
                  <p class="card-subtitle">25 Nov 2022</p>
                </div>
              </div>
              <a href="#" class="card-btn">Read more</a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="card feature-card">
          <figure
            class="card-banner img-holder"
            style="--width: 1602; --height: 903"
          >
            <img
              src="./assets/images/featured-5.png"
              width="1602"
              height="903"
              loading="lazy"
              alt="Self-observation is the first step of inner unfolding"
              class="img-cover"
            />
          </figure>
          <div class="card-content">
            <div class="card-wrapper">
              <div class="card-tag">
                <a href="#" class="span hover-2">#Design</a>
                <a href="#" class="span hover-2">#Movie</a>
              </div>
              <div class="wrapper">
                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                <span class="span">6 mins read</span>
              </div>
            </div>
            <h3 class="headline headline-3">
              <a href="#" class="card-title hover-2"
                >Self-observation is the first step of inner unfolding</a
              >
            </h3>
            <div class="card-wrapper">
              <div class="profile-card">
                <img
                  src="./assets/images/author-5.png"
                  width="48"
                  height="48"
                  loading="lazy"
                  alt="Joseph"
                  class="profile-banner"
                />
                <div>
                  <p class="card-title">Joseph</p>
                  <p class="card-subtitle">25 Nov 2022</p>
                </div>
              </div>
              <a href="#" class="card-btn">Read more</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <a href="/artigos/" class="btn btn-secondary">
      <span class="span">Ver Mais Artigos</span>
      <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
    </a>
  </div>
  <img
    src="./assets/images/shadow-3.svg"
    width="500"
    height="1500"
    loading="lazy"
    alt=""
    class="feature-bg"
  />
</section>
