<section class="hero" id="home" aria-label="home">
  <div class="container">
    <div class="hero-content">
      <p class="hero-subtitle">{{ section.greeting }}</p>
      <h1 class="headline headline-1 section-title">
        Eu sou <span class="span">{{ config[lang].author }}</span>
      </h1>
      <p class="hero-text">{{ section.text }}</p>
      <div class="input-wrapper">
        <input
          type="email"
          name="email_address"
          placeholder="{{ section.cta_placeholder }}"
          id="email"
          required
          class="input-field"
        />
        <a href="{{ section.cta_link }}" class="btn btn-primary">
          <span class="span">{{ section.cta_label }}</span>
          <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
        </a>
      </div>
    </div>
    <div class="hero-banner">
      <img
        src="{{ section.hero_img }}"
        width="327"
        height="490"
        alt="F. S. Lawliet"
        class="w-100"
      />
      <img
        src="./assets/images/pattern-2.svg"
        width="27"
        height="26"
        alt="shape"
        class="shape shape-1"
      />
      <img
        src="./assets/images/pattern-3.svg"
        width="27"
        height="26"
        alt="shape"
        class="shape shape-2"
      />
    </div>
    <img
      src="./assets/images/shadow-1.svg"
      width="500"
      height="800"
      alt=""
      class="hero-bg hero-bg-1"
    />
    <img
      src="./assets/images/shadow-2.svg"
      width="500"
      height="800"
      alt=""
      class="hero-bg hero-bg-2"
    />
  </div>
</section>
