<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--
        - Primary Meta Tags
    -->
    <title>{{ config[lang].name }}</title>
    <meta name="title" content="Blog Template" />
    <meta
      name="description"
      content="This is a blog html template made by fslawliet"
    />
    <!--
        - Favicon
    -->
    <link rel="shortcut icon" href="/assets/favicon.svg" type="image/svg" />
    <!--
        - Google Font Links
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      webc:keep
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!--
        - Custom CSS Link
    -->
    <link webc:keep rel="stylesheet" href="/assets/css/style.css" />
    <!--
        - Preload images
    -->
    <link rel="preload" as="image" href="/assets/images/hero-banner.png" />
    <link rel="preload" as="image" href="/assets/images/pattern-2.svg" />
    <link rel="preload" as="image" href="/assets/images/pattern-3.svg" />
    <script
      webc:keep
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
  </head>
  <body id="top">
    {% include "./sections/header.html" %}
    <main>
      <article>
        {% for section in sections %} {% include "./sections/"+ section.type
        +".html" %} {% endfor %} {{ content | safe }}
      </article>
    </main>
    {% include "./sections/footer.html" %}
    <a
      href="#top"
      class="back-top-btn"
      aria-label="back to top"
      data-back-top-btn
    >
      <ion-icon name="arrow-up-outline" aria-hidden="true"></ion-icon>
    </a>
    <script webc:keep src="/assets/js/script.js"></script>
    <script
      webc:keep
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      webc:keep
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script webc:keep>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
