{% set js %}
    if (window.netlifyIdentity) { 
        window.netlifyIdentity.on('init',
            user => { 
                if (!user) { window.netlifyIdentity.on('login', () => {
                    document.location.href = '/admin/';
                }); 
            } 
        });
        window.netlifyIdentity.on('logout', () => {
            document.location.href = '/';
        });
    }    
    CMS.init();
            
    CMS.registerEventListener({ name: "postPublish", handler: ({ author, entry }) => console.log(JSON.stringify({ author, data: entry.get("data") })), });
    {% endset %}
    <script>{{ js | jsbundle | safe }}</script>